{% extends 'base.html' %} {% block content %}

<style>
  .intro {
    text-align: center;
  }
</style>

<div class="container mt-2">
  <div class="jumbotron">
    <h1 class="display-4">Hello</h1>

    <p class="lead">
        This web App will Help a users to find an actual review of a movie .
    </p>

    <ul>
      <li>
        Point 1
      </li>
      <li>
        Point 2

      </li>
      <li>
        Point 3

      </li>
      <li>
        Point 4

      </li>
    </ul>
    <p class="lead" style="color: red">
      This Website is Under Construction and Developed by Ahasanul Karim (Abir) , Roll - 1903152
      <br />
       Due to The Course of CSE 3100 ,Under The Supervisor Dr. Md. Al Mehedi Hasan
    </p>
    <hr class="my-4" />
    <div class="row">
      <div class="col-sm-6">
        <h4 class="intro">Submitted To</h4>
        <h2 class="intro">Dr. Md. Al Mehedi Hasan</h2>
        <h3 class="intro">Professor</h3>
        <h5 class="intro">Rajshahi University of Engineering and Technology</h5>
      </div>
      <div class="col-sm-6">
        <h4 class="intro">Submitted By</h4>
        <h2 class="intro">Ahasanul Karim (Abir)</h2>
        <h3 class="intro">Roll - 1903152</h3>
        <h5 class="intro">Rajshahi University of Engineering and Technology</h5>
      </div>
    </div>
  </div>
</div>

} {% endblock content %}
